@tailwind base;
@tailwind components;
@tailwind utilities;


.fondo{
 background-image: url('./assets/background-default.png');
 backdrop-filter: brightness(20%) blur(2px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(14, 30, 62, 0.886); ;
}

::-webkit-scrollbar-thumb {
  background: #a97c00;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd429;
}

